<html>
  <head>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://www.google.com/jsapi"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://chartkick.com/chartkick.js"></script>
  </head>
  <body>
  <% chart_opts = {discrete: true,
                   width: "800px",
                   height: "500px"
                   }
  %>

  <h1>Growth Chart</h1>

  <%= line_chart data, chart_opts %>
  </body>
</html>

